#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "castopod"
name = "Castopod"
description.en = "Hosting platform made for podcasters"
description.fr = "Plateforme d'hébergement conçue pour les podcasteurs"

version = "1.15.5~ynh1"

maintainers = ["orhtej2"]

[upstream]
license = "GPL-3.0-only"
website = "https://castopod.org/"
demo = "https://podcast.podlibre.org/@podlibre_fr"
admindoc = "https://docs.castopod.org/"
code = "https://code.castopod.org/adaures/castopod"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "150M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

        [resources.sources.main]
        url = "https://code.castopod.org/-/project/2/uploads/419c795a5ab306a27082b7d86aa43df6/castopod-1.15.5.zip"
        sha256 = "e33fa4bfc5371fa5ae2d8f93ef7a57641754b3ae8f23735ebeb83677255487eb"
        autoupdate.strategy = "latest_gitlab_release"
        autoupdate.asset = "Castopod Package \\(zip\\)"
        in_subdir = true

    [resources.system_user]
    allow_email = true

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.data_dir]
    subdirs = ["media"]
    group = "www-data:rx"

    [resources.permissions]
    main.url = "/"
    main.auth_header = false
    api.url = "/api"
    api.auth_header = false
    api.show_tile = false
    api.allowed = "visitors"

    [resources.apt]
    packages = "mariadb-server, mariadb-client, ffmpeg, php8.4-mysql, php8.4-gd, php8.4-intl, php8.4-curl, php8.4-mbstring, php8.4-xml, php8.4-mysqlnd, redis-server"

    [resources.database]
    type = "mysql"
